DBThings RCDATA "Win32\\Release\\DBThings.png"
BlackSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\BlackSelectBorder.png"
BlueSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\BlueSelectBorder.png"
GraySelectBorder RCDATA "..\\DBThings\\Images\\Borders\\GraySelectBorder.png"
GreenSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\GreenSelectBorder.png"
LightBlueSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\LightBlueSelectBorder.png"
LightGreenSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\LightGreenSelectBorder.png"
LightRedSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\LightRedSelectBorder.png"
OrangeSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\OrangeSelectBorder.png"
PinkSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\PinkSelectBorder.png"
PurpleSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\PurpleSelectBorder.png"
RedSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\RedSelectBorder.png"
SelectBorder RCDATA "..\\DBThings\\Images\\Borders\\SelectBorder.png"
SelectBorderEdit RCDATA "..\\DBThings\\Images\\Borders\\SelectBorderEdit.png"
SkyBlueSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\SkyBlueSelectBorder.png"
WhiteSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\WhiteSelectBorder.png"
YellowSelectBorder RCDATA "..\\DBThings\\Images\\Borders\\YellowSelectBorder.png"
CloseWindowBlackSmall RCDATA "..\\DBThings\\Images\\CloseWindowBlackSmall.png"
CloseWindowBlackSmallSelect RCDATA "..\\DBThings\\Images\\CloseWindowBlackSmallSelect.png"
MinimizeWindowBlackSmoll RCDATA "..\\DBThings\\Images\\MinimizeWindowBlackSmoll.png"
MinimizeWindowBlackSmollSelect RCDATA "..\\DBThings\\Images\\MinimizeWindowBlackSmollSelect.png"
OptionWindowBlackSmoll RCDATA "..\\DBThings\\Images\\OptionWindowBlackSmoll.png"
OptionWindowBlackSmollSelect RCDATA "..\\DBThings\\Images\\OptionWindowBlackSmollSelect.png"
ResizeWindowBlackSmoll RCDATA "..\\DBThings\\Images\\ResizeWindowBlackSmoll.png"
ResizeWindowBlackSmollSelect RCDATA "..\\DBThings\\Images\\ResizeWindowBlackSmollSelect.png"
NoImage RCDATA "..\\DBThings\\Images\\Наборы иконок\\NoImage.png"
BGImageLoad RCDATA "..\\DBThings\\img\\BGImageLoad.png"
BGUpLoad RCDATA "..\\DBThings\\img\\BGUpLoad.png"
AddBlack RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\AddBlack.png"
AddClick RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\AddClick.png"
AddPoint RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\AddPoint.png"
CloseWindowBlack RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\CloseWindowBlack.png"
CloseWindowClick RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\CloseWindowClick.png"
CloseWindowPoint RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\CloseWindowPoint.png"
MinimizeWindowBlack1 RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\MinimizeWindowBlack1.png"
MinimizeWindowClick RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\MinimizeWindowClick.png"
MinimizeWindowPoint RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\MinimizeWindowPoint.png"
OptionWindowBlack RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\OptionWindowBlack.png"
OptionWindowClick RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\OptionWindowClick.png"
OptionWindowPoint RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\OptionWindowPoint.png"
question RCDATA "F:\\Misc\\Project C++\\БД вещей\\Графический интерфейс\\Наборы иконок\\question.png"
